@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500&family=Poppins:wght@100;200;300;400;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
}

.heading {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.card-image {
  max-width: 100%;
  height: auto;
  width: 250px;
}

.card-title {
  color: #000000;
  font-size: 1.2rem;
  line-height: 24px;
  font-weight: 400;
  margin: 25px 10px 0 0;
  text-decoration: underline;
}
.flex{
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
.flex a{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5bafeb;
  padding: 5px 5px;
  border-radius: 10px;
  text-decoration: none;

}
.bxl-github{
  font-size: 1.4rem;
  color: #fff;
}
.bx-link-external{
  font-size: 1.4rem;
  color: #fff;
}
.card-subtitle {
  color: #666666;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1rem;
}
.certificate-card {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 30px -15px;
  padding: 1.5rem 1rem 1.5rem 1rem;
  border-radius: 10px;
  border: 1px solid rgba(211, 211, 211, 0.397);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.certificate-card:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px -10px;
}
.dark-mode.certificate-card:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0px 20px 30px -10px;
}
.certificate-image-div {
  position: relative;
  height: 200px;
  overflow: hidden;
  text-align: center;
  margin-bottom: 2rem;
}
.certificate-image-div img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}
.achievement-cards-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem 1rem;
}
.certificate-card-footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.certificate-card-footer span.certificate-tag {
  background: blue;
  color: white;
  vertical-align: middle;
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  font-size: 0.75rem;
  height: 2em;
  justify-content: center;
  white-space: nowrap;
  line-height: 1.5;
  margin: 0 0.5rem 0.5rem 0;
  padding: 0 0.75em;
  cursor: pointer;
  transition: 0.2s ease-in;
}

span.certificate-tag:hover {
  background: green;
}

.blog-container {
  border-radius: 10px;
  color: #586069;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 30px -15px;
  cursor: pointer;
  height: 200px;
  margin-top: 3rem;
}

.blog-title {
  color: #262626;
  font-size: 1.2rem;
  line-height: 24px;
  font-weight: 500;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 14px;
  margin-top: 32px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.small {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #868e96;
  padding: 0px 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  margin-bottom: 2rem !important;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #5bafeb;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: #ffffff;
  font-family: courier, sans;
}

.blog-card {
  display: block;
  position: relative;
  background-color: transparent;
  border-radius: 4px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  height: 100%;
}

.blog-card::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #5bafeb;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.4s ease-out;
}

.blog-card:hover::before {
  transform: scale(30);
}

.blog-card:hover > .small {
  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.8);
}

.blog-card:hover > h3 {
  transition: all 0.3s ease-out;
  color: #ffffff;
}

@media screen and (max-width: 480px) and (min-width: 300px),
  (min-width: 925px) and (max-width: 1024px),
  (min-width: 1405px) and (max-width: 1550px) {
  .blog-card:hover::before {
    transform: scale(30);
  }
}

@media screen and (min-width: 481px) and (max-width: 675px),
  (min-width: 1025px) and (max-width: 1404px),
  (min-width: 1551px) {
  .blog-card:hover::before {
    transform: scale(40);
  }
  .blog-card::before {
    transition: transform 0.45s ease-out;
  }
}

@media screen and (min-width: 675px) and (max-width: 860px) {
  .blog-card:hover::before {
    transform: scale(50);
  }
  .blog-card::before {
    transition: transform 0.5s ease-out;
  }
}

@media screen and (min-width: 860px) and (max-width: 924px) {
  .blog-card:hover::before {
    transform: scale(60);
  }
  .blog-card::before {
    transition: transform 0.5s ease-out;
  }
}

@media screen and (max-width: 480px) and (min-width: 300px) {
  .blog-title {
    font-size: 1.125rem;
  }
}
.blog-card-shadow {
  box-shadow: 1px 0px 20px #ffffff;
}
